- title "Guest"

%p
  %strong Name:
  =h @guest.name
%p
  %strong Email:
  =h @guest.email
%p
  %strong Category:
  = link_to @guest.category, @guest.category
%p
  %strong Essential:
  =h @guest.essential
%p
  %strong Dismissed:
  =h @guest.dismissed
%p
  %strong Chá bar:
  =h @guest.tea_party

%p
  = link_to "Edit", edit_guest_path(@guest)
  |
  = link_to "Destroy", @guest, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", guests_path
